.c1{
	background-color: #DEB887
	color: #CD853F;
	}
.c2{
	background-color: #FFF8DC;
	color: #DEB887;
}

.c3{
	width: 600px;
	background-color: #FFE4C4;
	margin: 0 auto;
	margin-top: 55px;
	text-align: center;
	font-family: comic sans ms;
	color: #434240;
	border: 5px #FFDEAD solid;
}



.c4{
	width: 480px:
	font-size: 30px:
}


html{
	background-color: #FFFFF0;
}


